

body {
    margin:0px;
    font-family:"Century Gothic";
}




ul { 
    margin:0px;
    padding:;
}

main{
    max-width: 550px;
    margin:auto;
    margin-top:60px;
    padding:20px;
    margin-bottom: 100px;
}

img { 
display: block; 
margin: auto; 

margin-bottom: 7px;
margin-top: 7px;

} 

.maphoto{
    display: block; 
    margin: auto; 
    width:300px;
    height:300px;
    margin-bottom: 60px;
    margin-top: 30px;
    border-radius: 50%;

}





header a{
      color:white;
	  background-color:rgba(255,255,255,0.2); 
      text-decoration: none;
      font-size: 30px;
      border-radius: 15px;
      padding:10px;   
     font-family: 'Abel', sans-serif;
    letter-spacing: 4px;
  }


header {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#179e93;
    font-family: 'Abel', sans-serif;
    letter-spacing: 4px;
}


header li{
    display : inline-block ;
    width: 32%;
    text-align: center;
    text-decoration: bold;
    color:white;
    padding:0px;
}




a{
     color:#ccc;
     text-shadow:0 1px 0 #179e93;                
}
a:hover,a:focus{
     background:rgba(0,0,0,.2);
     box-shadow:0 1px 0  #179e93 ;
}




h1{
    text-align: center;
    font-size: 20px;
    
}

h2{
    text-align: center;
    font-size: 60px;
    font-family: 'Lily Script One', cursive;
}





footer {
    background-color:#179e93;
    bottom: 0px;
    position: relative;
    margin-top: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
      
}

footer li{
    display : inline-block ;
    width: 47%;
    text-align: center;
    color:grey;   
    
}




 




h5 {
      max-width: 550px;
    margin:auto;
    margin-top:10px;
    padding:20px;
    margin-bottom: 10px;
    line-height: 10px;
    letter-spacing: 6px;
    color: #127169;
    font-family: "Century Gothic";
    font-size: 20px;
}



.vieuxpape {    
    display: block; 
    margin: auto; 
    width:210px;
    height:210px;
    margin-bottom: 60px;
    margin-top: 100px;
    border-radius: 50%;
}


.diamprest {    
    display: block; 
    margin: auto; 
    width:400px;
    height:400px;
    margin-bottom: 0px;
    margin-top: 80px;
    border-radius: 50%;
}


.bg{
     display: block; 
    margin: auto; 
    width:170px;
    height:170px;
    margin-bottom: 0px;
    margin-top: 140px;

}









h3 {

    max-width: 550px;
    margin:auto;
    margin-top:10px;
    padding:20px;
    margin-bottom: 10px;
    line-height: 10px;
    letter-spacing: 6px;
    color: #127169;
   
}


div {
    max-width: 550px;
    margin:auto;
    margin-top:30px;
    padding:20px;
    margin-bottom: 30px;
    border-style: dotted;
    border-color: #179e93;
    border-radius: 15px;
    line-height: 30px;
    font-family: "Century Gothic";
}























h4{
    color: #179e93;
    font-size: 70px;
    margin-top: 10px;
    text-align: center;
    text-decoration: inherit;
}

p{
    
    color: #179e93;
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}

.mail {
    width : 32%;
    border-radius: 50%;
    display: block; 
    margin: auto; 
    width:100px;
    height:100px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 50%;
   
}


.adresse {
    width : 32%;
    border-radius: 50%;
    display: block; 
    margin: auto; 
    width:100px;
    height:100px;
    margin-bottom: 20px;
    margin-top: 80px;
    border-radius: 50%;
   
}










